
/* Header.css */

body {
    font-family: Arial, sans-serif;
    position: relative;
    height: auto;
    min-height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
    padding: 0 20px;
    padding-bottom: 50px;
    z-index: -1;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.header-left {
    color: white;
    font-size: 24px;
    margin-right: 50px;
    text-decoration: none;
    width: 100px;
    text-align: center                ;
}

.header-right{
    color: white;
    font-size: 24px;
    margin-left: 50px;
    text-decoration: none;
    width: 100px;
    text-align: center;
}

.header-image {
    height: 150px;
    width: 100px;
    margin-top: 75px;
}

