.forgot-password-container {
  display: flex;
  /* margin: 0 50px; */
  /* justify-content: center; */
  /* align-items: center; */
  height: 100vh;
}

.forgot-password-box {
  /* margin: 100px 280px; */
  width: 100vw; /* 화면의 50% 너비 사용 */
  min-width: 600px; /* 최소 너비 설정 */
  max-width: 800px; /* 최대 너비 설정 */

  /* background: rgba(0, 0, 0, 0.6); 더 강조된 반투명 배경 */
  padding: 3rem; /* 패딩 추가로 넉넉한 공간 */
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4); /* 그림자 더 강조 */
}

/* 반응형 스타일 - 작은 화면에서는 너비 90%로 변경 */
@media (max-width: 768px) {
  .forgot-password-box {
    width: 90vw;
    padding: 2rem;
  }
}
