.carousel-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
}

.carousel-item-custom {
  transform: scale(0.8);
  transition: transform 0.5s ease, opacity 0.5s ease;
  opacity: 0.5;
}

.carousel-item-next.carousel-item-start,
.carousel-item-prev.carousel-item-end {
  transform: scale(0.8);
  opacity: 0.5;
}

.active.carousel-item {
  transform: scale(1);
  opacity: 1;
  z-index: 1;
}
